{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    {% block add_css %}
    {% endblock add_css %}
    <style>
      a {
        text-decoration: none !important;
      }
      a:link {
        color: red;
      }
      a:visited {
        color: green;
      }
      a:hover {
        color: hotpink;
      }
      a:active {
        color: blue;
      }
      html,
      body {
        height: 100% !important;
        margin: 0 !important;
      }
      body {
        display: flex;
        flex-direction: column;
      }
      footer {
        margin-top: auto;
      }
    </style>
    <title>
      AirBLog | {% block title %} {% endblock title %}
    </title>
  </head>
  <body>
    {% include 'myblog/nav.html' %} <br />
    <div class="container">
      {% include 'myblog/message.html' %}
      {% block body %} {% endblock body %}
    </div>
    <br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; AirBlog 2020
        </p>
      </div>
      <!-- /.container -->
    </footer>
    <script src="{% static 'javascripts/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'javascripts/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
