<div class="row py-5 px-4">
  <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 bg-dark">
        <div class="media align-items-end profile-header">
          <div class="profile mr-3">
            <div class="media-body mb-5 text-white">
              <h4 class="mt-0 mb-0">Manuella Tarly</h4>
              <p class="small mb-4">
                <i class="fa fa-map-marker mr-2"></i>San Farcisco
              </p>
            </div>
            <a href="#" class="btn btn-dark btn-sm btn-block">Edit profile</a>
          </div>
        </div>
      </div>

      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">241</h5>
            <small class="text-muted">
              <i class="fa fa-picture-o mr-1"></i>Photos</small
            >
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">84K</h5>
            <small class="text-muted">
              <i class="fa fa-user-circle-o mr-1"></i>Followers</small
            >
          </li>
        </ul>
      </div>

      <div class="py-4 px-4">
        <div class="py-4">
          <h5 class="mb-3">Recent posts</h5>
          <div class="p-4 bg-light rounded shadow-sm">
            <p class="font-italic mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
            <ul class="list-inline small text-muted mt-3 mb-0">
              <li class="list-inline-item">
                <i class="fa fa-comment-o mr-2"></i>12 Comments
              </li>
              <li class="list-inline-item">
                <i class="fa fa-heart-o mr-2"></i>200 Likes
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


following followers bio search-bar 