{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <title>
      {% block title %} {% endblock title %}
    </title>
  </head>
  <body>
    {% include 'nav.html' %} <br /><br />
    <div class="container mx-auto jumbotron" style="margin-top: 50px;">
      {% block body %} {% endblock body %}
    </div>

    <script src="{% static 'javascripts/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'javascripts/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
  </body>
</html>
