{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <title>
      btt
    </title>
  </head>
  <body>
    <div class="container mx-auto jumbotron" style="margin-top: 50px">
          {% for obj in objects %}
            <h2 class="display-4">
              {{obj.title}}
            </h2>
            <p class="lead">
              {{obj.desc}}
            </p>
            <p>
              {{obj.tech}} | {{obj.time}}
            </p>
            <hr class="my-3" />
          {% endfor %}
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>