{% extends 'base.html' %}
{% load static %} 
{% block title %} {{obj.title}} {%endblock title %} 

{% block body %}
<div>
  <h1 class="mt-4">{{obj.title}}</h1><br>
  <p class="lead">
    by
    {{obj.author.username}} &nbsp;
    {% if request.user == obj.author %}
    <a href="../{{obj.id}}/update">Edit</a> |
    <a href="../{{obj.id}}/delete">Delete</a>
    {% endif %} 
  </p>
  <p>Posted on {{obj.time}}</p>
  <hr>
  <p>
    {{obj.desc}}
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus
    doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum
    ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus,
    dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt
    ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum,
    aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias
    modi dicta saepe minima ab quo voluptatem obcaecati?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis.
    Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates
    cupiditate voluptas illo saepe quaerat numquam recusandae? Qui,
    necessitatibus, est!
  </p>
  <hr />
</div>
{% endblock body %}